{% extends 'main.html' %}
{% load static %}

{% block content %}
<div>
    {% for message in messages %}
<p>{{message}}</p>
    {% endfor %}
</div>
<br>
<a href="{% url 'home' %}" style="background:rgb(24, 35, 41);font-size: 12px;  text-decoration:none;font-weight:bold; font-family:'Poppins', sans-serif; text-transform:capitalize; margin-left:1%; padding:4px; color:rgb(201, 143, 95);"><i class="fa fa-caret-left"> </i> home</a>
 <br> 
<section>
    <form method="POST" action="" id="logger">
        <h1><i class="fa fa-caret-left"></i> change password <i class="fa fa-caret-right"></i></h1>
        {% csrf_token %}
{{form.as_p}}
        
        <input type="submit"  style=" border-radius:3px;width:50%; margin-top:30px;background-color:#283636; color: rgb(227, 174, 74);">
</section>
{% endblock %}